//! **************************************************************************
// Written by: Map P.20131013 on Tue Jan 12 15:34:52 2016
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "R9" LEVEL 1;
COMP "VS" LOCATE = SITE "T10" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "rst" LOCATE = SITE "L14" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "VGA_B" LOCATE = SITE "R11" LEVEL 1;
COMP "VGA_G" LOCATE = SITE "T12" LEVEL 1;
COMP "VGA_R" LOCATE = SITE "R12" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "M16" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "M15" LEVEL 1;
COMP "SEGMENT<0>" LOCATE = SITE "E14" LEVEL 1;
COMP "SEGMENT<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "SEGMENT<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "SEGMENT<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "SEGMENT<4>" LOCATE = SITE "R16" LEVEL 1;
COMP "SEGMENT<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "SEGMENT<6>" LOCATE = SITE "N16" LEVEL 1;
COMP "SEGMENT<7>" LOCATE = SITE "P16" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

